.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.client-social-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-social-link:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-social-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-social-link:hover .client-icon {
  fill: var(--accent-color);
}

.client-social-link:focus .client-icon {
  fill: var(--accent-color);
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.clients-item:hover {
  color: var(--accent-color);
}

.client-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
