.team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.team-item {
  min-width: 270px;
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-person-job {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 10px;
}
.team-job-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
  background-color: var(--accent-color);
}

.team-social-link:hover .team-social-icon {
  fill: #ffffff;
}

.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}
